*{
    box-sizing: border-box;
}
body{
    background-color: black;
}
main{
    border: 5px solid wheat;
    margin: auto;
    background-color: rgb(229, 229, 229);
    width: fit-content;
}
.info{
    width: 30%;
   margin-bottom: 50px;
}
form{
    padding: 2px;
    display: flex;
    gap: 10px;
}

.playground{
    margin: auto;
    width: 30rem;
    height: 30rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: xx-large;
}

.element{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 33% ;
    border: black 1px solid;

}
footer{
    text-align: center;
    color: white;
    font-style: bold;
}
